html{
    font-family: sans-serif;
}

body{
    margin: 0;
}

.bold{
    font-weight: 700;
}

header{
    font-size: 1.25rem;
    font-weight: 700;
    margin: 1.25em 0;
}

#main-doc{
    padding: 20px;
    line-height: 1.5rem;
    color: rgb(43, 43, 43);
    margin-left: 315px;
}
.main-section li {
    line-height: 2rem;
}

#navbar {
    position: fixed;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: solid 2px;
}

#navbar a{
    text-decoration: none;
    color: black;
    padding: 1rem 1rem;
    border-bottom: solid 2px;
    text-align: center;
}

#navbar a:first-of-type{
    border-top: solid 2px;
}

#navbar header{
    font-size: 1.75em;
    text-decoration: none;
    color: black;
    margin: 1rem 0;
    padding-left: 1rem;
    margin: 1rem auto;
}

@media (max-width: 768px) {
    #main-doc{
        margin-left: unset;
    }

    #navbar{
        height: unset;
        width: 100%;
        position: relative;
    }

}